html,
body{
  background-image: url("./logo-text-skauron.png");
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  min-height: 100vh;
}
